# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
venv/
ENV/
env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/secrets.toml

# Temporary files
tmp/
temp/

# Log files
*.log

# Large data files
# Uncomment the next line if you want to exclude the face detection model from git
# *.caffemodel

# Specific to this application
# Keep temporary video or image outputs out of git
processed_image.jpg
processed_video.mp4 
